extends layout

block content
    #familyIDlookup.row.col-lg-5.col-lg-offset4.lead
        input(type='text', name='Family Id')
        label OR
    #familyphoneLooup.row.col-lg-5.col-lg-offset4.lead
        input(type='text', name='Primary Phone number')
        label OR
    #familyLastNameLookup.row.col-lg-5.col-lg-offset4.lead
        input(type='text', name='Last Name/ Family Name')
block body_end

