extends Layout
block content

	div
	.clearfix
	br
	br
	br
	br
	br
	form(action='/', method='post')
		#dvCertID.row.col-lg-5.col-lg-offset-4.lead
			label.col-lg-4(for='CertID') CERT ID:
			div
			input#txtCertId.col-lg-6(type='text', name='CertID', placeholder='Enter Cert ID', value='')
			label(for='CertID') &nbsp;&nbsp;(OR)
		br
		br
		#dvCertName.row.col-lg-5.col-lg-offset-4.lead
			label.col-lg-4(for='Name') CERT Name:
			div
			input#txtCertName.col-lg-6(type='text', name='CertName', placeholder='Enter Cert Name', value='')
			label(for='CertName') &nbsp;&nbsp;(OR)
		br
		br
		#dvCertZipCode.row.col-lg-5.col-lg-offset-4.lead
			label.col-lg-4(for='CertZipCode') CERT ZipCode:
			div
			input#txtCertZipCode.col-lg-6(type='text', name='CertZipCode', placeholder='Enter Cert Zip Code', value='')
		.row
		.row
		.clearfix
		br
		.row.col-lg-4.col-lg-offset-4
			a.btn#btnConfirm.btn-lg.btn.btn-primary.col-lg-3.col-lg-offset-6.text-center(name='submit') Find CERT
		br
		.container.col-lg-6.col-lg-offset-4
			h3.text-center.col-lg-offset-2.col-lg-6 List of CERTs
			table.table.table-responsive
				thead
					tr 
					th CERT ID
					th CERT Name
					th CERT Address
					th CERT Capablities
				tbody
