extends layout

block content
    script(type='text/javascript',src='/js/index.js')
    br
    br
    br
    br
    #dvcontent.container
        #dvFindHelpRow.row.SelectionCards
            a.btn#btnFindHelp.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4(href="./findshelter") I Need Help
        #dvCERTRow.row.SelectionCards
            a.btn#btnCert.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4(href="./findcert") I am a Volunteer for CERT
        #dvSignUp.row.SelectionCards
            a.btn#btnCert.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4(href="#") Prepare for Emergency
block body_end
    