extends layout

block content
	br
	br
	br
	br
	#dvcontent.container
		#dvFindHelpRow.row.SelectionCards
			a.btn#btnFindHelp.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4.text-center(href="./findshelter") I Need Help
        #dvFindHelpRow.row.SelectionCards
			a.btn#btnCheckin.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4.text-center(href="./checkin") Check in to Shelter
		#dvCERTRow.row.SelectionCards
			a.btn#btnCert.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4.text-center(href="./findcert") I am a Volunteer for CERT
		#dvSignUp.row.SelectionCards
			a.btn#btnCert.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4.text-center(href="./signup") Prepare for Emergency
               
        
block body_end
