extends layout

block content
    #dvcontent.container
        #dvFindHelpRow.row.SelectionCards
            button#btnFindHelp.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4 I Need Help
        #dvCERTRow.row.SelectionCards
            button#btnCert.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4 I am a Volunteer for CERT
        #dvSignUp.row.SelectionCards
            button#btnCert.btn-lg.btn.btn-primary.col-lg-4.col-lg-offset-4 Prepare for Emergency
               
        
block body_end
