extends layout

block content	
	script(type='text/javascript',src='/socket.io/socket.io.js')
	script(type='text/javascript',src='/js/signuppublic.js')
	
	#dvSignUpContainer.container
		
		.row.row-wrapper
			h2 EPMS Registration Form
			
			#signUpForm.form-horizontal						
			
			.form-group
			label First Name
			input#txtFirstName.form-control(type='text', name="firstname", placeholder="First Name")
			
			.form-group
			label Last Name
			input#txtLastName.form-control(type='text', name="lastname", placeholder="Last Name")
			
			.form-group
			label Email Address
			input#txtEmailAddress.form-control(type='text', name="username", placeholder="Email address")
			
			.form-group
			label Phone Number
			input#txtPhoneNumber.form-control(type='text', name="phonenumber", placeholder="Contact number")
			
			.form-group
			label ZipCode
			input#txtZipCode.form-control(type='text', name="zipcode", placeholder="ZipCode")
			
			.form-group
			a.btn#btnSignUp.btn-large.btn-primary(name="btnSignUp", href='./signUp/addFamily') Sign Up
			
block body_end